@import url('./reset.css');
@import url('./variables/global.css');

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section, footer {
  padding: 0 var(--padding-content);
}

.container {
  max-width: var(--max-width-content);
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.shopPage {
  background-color: var(--unilogy-light-gray);

  footer {
    background-color: #fff;
  }
}