:root {
	// text colors
	--global-white: #FFF;
	--global-blue: #3D5BC1;
	--global-light-blue: #0396DE;
	--global-light-green: #C0EFD6;
	--global-green: #2AA61B;
	--global-red: #E35649;
	--global-light-red: #F7C9C6;
	--global-light-gray: #F6F6F6;

	--global-black: #191919;
	--global-light-black: #393939;
	--global-black-600: #6B6B6B;
	--global-black-400: #737985;
	
	--global-gray: #E7E7E7;
	--global-medium-gray: #F2F2F2;
	--global-dark-gray: #D7D7D7;

	// font sizes body text

	// font sizes header text
	--font-size-h1: 128px;
	--font-size-h2: 96px;
	--font-size-h3: 82px;
	--font-size-h4: 64px;
	--font-size-h5: 48px;
	--font-size-h6: 42px;

	// S — small, M — medium, L — large, XL — extra large
	--font-size-xxxl: 36px;
	--font-size-xxl: 32px;
	--font-size-xl: 28px;
	--font-size-l: 24px;
	--font-size-m: 20px;
	--font-size-s: 18px;

	// widths
	--max-width-content: 1360px;
	--max-width-xl: 1280px;
	--max-width-lg: 1024px;
	--max-width-md: 768px;
	--max-width-sm: 425px;
	--width-scrollbar: 17px;

	// heights
	--navbar-height: 74px;
	--card-height: 410px;
	--short-card-height: 205px;

	// paddings
	--padding-content: 20px;
	--padding-s: 10px;
	--padding-m: 16px;
	--padding-base: 33px;
	--padding-lg: 50px;
	--padding-xl: 100px;
	--padding-xxl: 150px;
	--padding-xxxl: 200px;

	// border
	--border-m: 21px;
	--border-lg: 98px;

	// z-index
	--z-index-header: 50;
}

@media (max-width: 1360px) {
	:root {
		--font-size-h1: calc((100vw - 360px) / (1360 - 360) * (128 - 96) + 96px);
		--font-size-h2: calc((100vw - 360px) / (1360 - 360) * (96 - 36) + 36px);
		--font-size-h3: calc((100vw - 360px) / (1360 - 360) * (82 - 41) + 41px);
		--font-size-h4: calc((100vw - 360px) / (1360 - 360) * (64 - 28) + 28px);
		--font-size-h5: calc((100vw - 360px) / (1360 - 360) * (48 - 24) + 24px);
		--font-size-h6: calc((100vw - 360px) / (1360 - 360) * (42 - 22) + 22px);
		--font-size-xxxl: calc((100vw - 360px) / (1360 - 360) * (36 - 20) + 20px);
		--font-size-xxl: calc((100vw - 360px) / (1360 - 360) * (32 - 20) + 20px);
		--font-size-xl: calc((100vw - 360px) / (1360 - 360) * (28 - 16) + 16px);
		--font-size-l: calc((100vw - 360px) / (1360 - 360) * (24 - 16) + 16px);
		--font-size-m: calc((100vw - 360px) / (1360 - 360) * (20 - 14) + 14px);
		--font-size-s: calc((100vw - 360px) / (1360 - 360) * (18 - 14) + 14px);
	}
}

@media screen and (max-width: 360px) {
	:root {
		--font-size-h1: 48px;
		--font-size-h2: 36px;
		--font-size-h4: 26px;
		--font-size-h5: 24px;
		--font-size-xxxl: 20px;
		--font-size-xxl: 20px;
		--font-size-xl: 16px;
		--font-size-l: 16px;
		--font-size-m: 14px;
		--font-size-s: 14px;
	}
}