.loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}/*# sourceMappingURL=Loader.module.css.map */