.mainPage {
    width: 100%;
    padding: 50px 70px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 20px;
}