.navbar {
    background-color: var(--global-white) !important;
    box-shadow: none !important;
    color: var(--global-black) !important;
    border-bottom: 1px solid var(--global-gray);
}

.title {
    margin-right: 10px;
    font-weight: 600 !important;
}

.avatar {
    margin-left: auto;
}

.menu {
    display: flex;
    margin-left: 50px !important;
    font-size: 18px !important;
}

.active {
    color: var(--global-light-blue);
}