.card {
    max-width: 200px;
    width: 100%;
    height: 100%;
    max-height: 380px;
    display: flex;
    background-color: var(--global-light-gray);
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    border-radius: 14px;
    cursor: pointer;

    img {
        width: 190px;
        min-height: 250px;
        border-radius: 10px;
        object-fit: contain;
        background-color: var(--global-white);
    }

}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    margin-top: 10px;
}

.title {
    font-size: 14px !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    width: 100%;
    height: 50px;
    background-color: var(--global-white) !important;
    color: var(--global-blue) !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    text-transform: capitalize !important;
    margin-top: auto !important;
    margin-bottom: 10px !important;
    border-radius: 10px !important;

    &:hover {
        background-color: var(--global-light-blue) !important;
        color: var(--global-white) !important;
    }

    
    &_danger {
        color: var(--global-red) !important;

        &:hover {
            background-color: var(--global-red) !important;
            color: var(--global-white) !important;
        }
    }
}