.snackbar {
  z-index: 100;
}
.snackbar div {
  min-height: 40px;
  color: var(--global-black);
  padding-left: 20px;
}
.snackbar_success div {
  background: var(--global-light-green);
}
.snackbar_error div {
  background: var(--global-light-red);
}

.icon {
  position: absolute;
  left: 10px;
}
.icon_success svg {
  fill: var(--global-green);
}
.icon_error svg {
  fill: var(--global-red);
}/*# sourceMappingURL=Alert.module.css.map */