.snackbar {
    z-index: 100;

    div {
        min-height: 40px;
        color: var(--global-black);
        padding-left: 20px;
    }

    &_success {
        div {
            background: var(--global-light-green);
        }
    }

    &_error {
        div {
            background: var(--global-light-red);
        }
    }
}

.icon {
    position: absolute;
    left: 10px;

    &_success {
        svg {
            fill: var(--global-green);
        }
    }

    &_error {
        svg {
            fill: var(--global-red);
        }
    }
}