.userShelf {
    width: 100%;
    padding: 50px 70px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
    gap: 20px;
}

@media (max-width: 768px) {
    .cards {
        place-items: center;
    }
}