.signUp {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgb(45, 128, 177) 0%, rgb(61, 91, 193) 100%);
}

.wrapper {
  height: 100%;
  display: grid;
  place-items: center;
}

.card {
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 60px;
  background-color: var(--global-white);
  border-radius: 6px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form div input {
  width: 100%;
  height: 10px;
  margin-left: 20px;
}

.button {
  height: 50px;
  background: linear-gradient(0deg, rgb(101, 199, 255) 0%, rgb(61, 91, 193) 100%);
  margin-top: 20px !important;
}/*# sourceMappingURL=SignUp.module.css.map */